/* generale  style*/

body{
    max-width: 1388px;
    margin: 0;
    padding: 0;
}

.sliding-section{
    width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: black;
}
.sliding-iteam{
    display: flex;
    align-items: center; 
}
.flex-box{
    width: 50%;
    padding: 80px; 
}
.sliding-image img{
    width: 100%;
}
.details{
    color: white; 
    
}
.details .tittle h1{
     font-size: 60px; 
     margin-bottom: 20px;
}
.details-info p{
    font-size: 16px;
}
.watch-live-link a{
    padding: 10px 30px;
    background-image: linear-gradient(rgb(216, 3, 49),rgb(253, 40, 51));
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}
.watch-live-link p{
    margin-top: 30px;
}

.watch-live-link .fa-arrow-right-long{
    margin-left: 5px;

}

/* first section end */

/* second section start */
.main-section{
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;  
}

.main-section-items{
    display: flex; 
}
.schedule-blog{
    width: 30%;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    height: 300px;
     
  
}
.schedule-blog div{
    margin: 20px 40px;
    background-color: white;
    padding: 5px ;
    border-radius: 10px; 
}
.schedule-blog a{
    text-decoration: none;
    text-align: center;
    color: black;
}
.schedule-blog .blog{
    background-color: rgb(253, 40, 51);
    color: rgb(255, 255, 255);
}
.all-match{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.indivisual-match{
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px  2px 5px 2px gray;
}
.live-match{
    width: 70%; 
    border-radius: 10px;
    color: rgb(49, 49, 49);
}
.live-match img{
    width: 100%;
}
.schedule-blog, .live-match{
    margin: 10px 15px;
}

.match-info{
    padding: 20px;
}