/* generale  style*/

body{
    max-width: 1388px;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sliding-section{
    width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: black;
}
.sliding-iteam{
    display: flex;
    align-items: center; 
}
.flex-box{
    width: 50%;
    padding: 80px; 
}
.sliding-image img{
    width: 100%;
}
.details{
    color: white; 
    
}
.details .tittle h1{
     font-size: 60px; 
     margin-bottom: 20px;
}
.details-info p{
    font-size: 16px;
}
.watch-live-link a{
    padding: 10px 30px;
    background-color: red;
      color: white;
      font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.watch-live-link a:hover {
    background-color: #3e8e41;
    padding: 12px 35px;
    color: white;
  }
.watch-live-link p{
    margin-top: 30px;
}

.watch-live-link .fa-arrow-right-long{
    margin-left: 5px;

}
.only-mobile{
    display: none;
}

/* first section end */

/* second section start */
.main-section{
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;  
}

.main-section-items{
   display: flex; 
     
    
}
.schedule-blog{
    width: 30%;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    display: grid; 
    grid-template-columns: repeat(1,1fr);
    align-content: space-between; 
    height: 276px;   
    padding: 10px 20px;
}
.schedule-blog div{ 
    background-color: white;
    transition: 0.3s;
    padding: 5px;
    border-radius: 10px; 
     
}
.schedule-blog div:hover{
    background-color: #3e8e41;
}
.schedule-blog a{
    text-decoration: none;
    text-align: center;
    color: black;
}
.schedule-blog .blog{
    background-color: rgb(253, 40, 51);
    color: rgb(255, 255, 255);
}
.all-match{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.indivisual-match{
    width: 30%;
    border: 2px;
    border-radius: 10px;
    box-shadow: 0px  2px 5px 2px gray;
    transition: 0.5s;
    
   
}
.indivisual-match:hover{
    background-color: rgb(255, 210, 151);
  
}
.live-match{
    width: 70%; 
    border-radius: 10px;
    color: rgb(49, 49, 49);
}
.live-match img{
    width: 100%;
}
.schedule-blog, .live-match{
    margin: 10px 15px;
}
.time-comment{
    display: flex; 
    column-gap: 30px;
}
.time-comment span{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
}

.match-info{
    padding: 20px 10px;
}

.transfer p {
    padding: 5px 15px;
    border: 2px solid gray;
    display: inline;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}
.tittle p{
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0px;
}
.view-all-for-tab p{
    text-align: center; 
    margin-top: 50px;

     
}
.view-all-for-tab a{
    background-color: red;
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    display: none;

}

/* Footer section */
.footer-section{
    width: 100%;
    background-color: rgb(19, 17, 17);
    

}
.main-footer{
    padding: 80px 50px; 
    padding-top: 50px;
}
.hr-line{ 
    border: 1px solid gray;
}
.main-footer h1{
    text-align: center;
    font-size: 50px; 
    color: rgb(197, 197, 197); 
}
.footer-menu ul{
    list-style: none;
    color: rgb(202, 201, 201);
    display: flex;  
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.footer-menu ul li{
     margin-left: 20px;
     font-size: 20px;
}

 